/* width of the page */



.body-container {
  width: 100%;
  margin: auto;
}

/* top of the page - logo & navbar */
.flex-banner {
  flex-direction: column;
  gap: 10px;
}

.flex-banner__logo {
  width: 300px;
  margin: auto;
  background-image: url("/images/logo/Booki@3x.png");
  height: 130px;
}


.flex-banner__nav {
  width: 100%;
  height: 50px;
  font-size: 140%;
}

.flex-banner__nav__list a {
  border-bottom: 5px solid #f2f2f2;
}

.flex-banner__nav__list a:hover {
  color: #0065fc;
  border-bottom: 5px solid #0065fc;
  border-top: 5px solid transparent;
}



/* SECTION 1 - TITTLES */

.section1 {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  gap: 20px;
  margin-bottom: 0px;
  font-size: 130%;
}


/* FORMULAIRE SEARCH */


.search-pannel {
  height: 60px;
  width: 70%;
  margin: auto;
  margin-top: 10px;
}

.search-pannel :nth-child(2)::placeholder {
  text-indent: 10%;
  font-size: 100%;
}

.search-pannel :nth-child(1) {
  width: 15%;
}
.search-pannel :nth-child(2) {
  width: 70%;
}
.search-pannel :nth-child(3) {
  width: 15%;
  
}

.search-pannel :nth-child(3) span {
  display: none;
}
.search-pannel :nth-child(3) i {
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}




/* FILTRE pannel */
.filter-pannel {
  
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3%;
  margin-top: 20px;
  height: 140px;
}

.filter-pannel__title {
  width: 100%;
  text-align: left;
}
.filter-pannel__category {
  display: flex;
  height: 50px;
  align-items: center;
  width: auto;
  border: 2px solid #f2f2f2;
  border-left: none;
  border-radius: 35px; 
}

.filter-pannel__category p {
  margin-left: 0px;
  text-align: left;
  font-size: 90%;
}



/* INFO BUBBLE */

.info-bubble {
  margin-top: 0px;
  font-size: 60%;
}

/* CONTAINER MID-PAGE */
.mid-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 0 0 0 0;
}


/* HEBERGEMENT A MARSEILLE */

.mid-page {
  font-size: 130%;
}

.marseille-hotels__title {
  margin: auto;
}

.marseille-hotels {
  display: flex;
  flex-direction: column;
  gap: 35px;
  background: white;
  width: 100%;
  height: auto;
}

.hotel-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 45px;
  font-size: 110%;
}

.hotel-cards__hotel-card img {
  object-fit: cover;
  width: 400px;
  height: 220px;
  border-radius: 20px 20px 0px 0px;
  }
  
  .hotel-cards__hotel-card__info h3 {
  font-size: 60%;
  }

  .hotel-cards__hotel-card__info {
  margin-left: 15px;
  font-size: 100%;
  padding: 5px;
  
  }

  
  .marseille-hotels__bottom {
    margin-top: 10px;
    font-size: 70%;
  }


  /* ASIDE - MOST POPULARS */


  aside {
    width: 100%;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 50px;
    
  }

  .most-populars__cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto;
  }

  
  .most-populars__cards__card {
width: 100%;

  }
  .most-populars__cards__card img {
    
    width: 40%;
    height: 170px; 
  }


  .most-populars__cards__card__description {
    padding: 10px 20px 10px 10px;
    font-size: 110%;
    width: 60%;
    text-align: right;
  }

  /* ACTIVITES A MARSEILLE */

  .marseille-activities {
    font-size: 130%;
  }
  .marseille-activities__cards {
    font-size: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    width: 70%;
    height: auto;
    margin: auto;
  }

  .hotel-cards__hotel-card__info__title {
    font-size: 66%;
  }

  .img-bg1 {
    background-image: url("/images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    width: 100%;
    height: 300px;
    /* background-position: top 20% left 55%;
    background-size: 800px; */
    background-repeat: no-repeat;
    border-radius: 20px 20px 0px 0px;
  }
  
  .img-bg2 {
    background-image: url("/images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: left 40%;
    
  }
  
  .img-bg3 {
    background-image: url("/images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 700px;
    
  }
  
  .img-bg4 {
    background-image: url("/images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    width: 100%;
    height: 300px;
    background-position: 53% 40%;
    background-size: 1000px;
    background-repeat: no-repeat;
    
  }
  
  .img-bg5 {
    background-image: url("/images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    width: 100%;
    height: 300px;
    background-position: 50% 10%;
    background-size: 700px;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0px 0px;
  }
  
  .img-bg6 {
    background-image: url("/images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    width: 100%;
    height: 300px;
    background-position: top 20% left 70%;
    background-size: 720px;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0px 0px;
  }
  

 
  
  .flex-container-2, .flex-container-4 {
    gap: 50px;

  }

  /* FOOTER */
  
  .footer-title {
    font-size: 80%;
    margin-bottom: 10PX;
  }

  footer li {
    font-size: 70%;
    }