/* top of the page - logo & navbar */
.flex-banner {
  flex-direction: column;
}

.flex-banner__logo {
  width: 150px;
  margin: auto;
  background-image: url("/images/logo/Booki.png");
  height: 100px;
  padding: 20px;
}



.flex-banner__nav {
  width: 100%;
  height: 70px;
  font-size: 200%;
  
}

.flex-banner__nav__list a {
  border-bottom: 3px solid #f2f2f2;
}

.flex-banner__nav__list a:hover {
  color: #0065fc;
  border-bottom: 3px solid #0065fc;
  border-top: 3px solid transparent;
}

/* SECTION 1 - TITTLES */

.section1 {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  gap: 10px;
  margin-bottom: 0px;
  font-size: 140%;
}

/* TITLE AND SUBTITLE   */
.titles {
  font-size: 170%;
  text-align: left;

}
.titles__main {
  font-weight: 900;
  
}

.titles__sub {
font-size: 65%;
}


/* FORMULAIRE SEARCH */

.search-pannel {
  height: 55px;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  font-size: 60%;
}

.search-pannel :nth-child(2)::placeholder {
  font-size: 180%;
}

.search-pannel :nth-child(1) {
  border-radius: 15px 0px 0px 15px;
  font-size: 130%;
}

.search-pannel :nth-child(3) {
  border-radius: 15px;
  transform: translateX(-20%);
}


.search-pannel :nth-child(3) i {
  font-size: 180%;
}

/* FILTRE pannel */
.filter-pannel {
  margin-top: 10px;
  height: 260px;
  font-size: 100%;
}


.filter-pannel__category {
 
  height: 50px;
  width: auto;
  margin-top: 10px;
  gap: 5px;
}
.filter-pannel__category__logo {

  width: 50px;
  height: 50px;
}


/* INFO BUBBLE */

.info-bubble {
  margin-top: 5px;
  font-size: 90%;
  text-align: left;
  
}

.info-bubble__logo {
  width: 25px;
  font-weight: 900;
  font-size: 70%;
  margin-top: -15px;
}


/* CONTAINER MID PAGE */
.mid-page {
  display: flex;
  flex-flow: column-reverse;
  width: 100%;
  height: auto;
  justify-content: space-between;
  gap: 5%;
  margin: 20px 0 40px 0;
}

/* ASIDE - MOST POPULARS */

aside {
  width: 100%;
  padding: 30px 20px 40px 20px;
  border-radius: 0;
 
}
.most-populars {
  width: 100%;
  gap: 20px;
}

.most-populars__top {
  font-size: 170%;
  width: 100%;
}

.most-populars__cards {
  gap: 20px;
  width: 100%;
  height: auto;

}

.most-populars__cards__card {
  width: 100%;
}
.most-populars__cards__card img {
 
  height: 140px;
}

.most-populars__cards__card__description {
  padding: 10px 20px 10px 15px;
  font-size: 160%;
  text-align: left;
}

/* HEBERGEMENT A MARSEILLE */

.marseille-hotels__title {
  font-size: 140%;
  text-align: left;
  width: 100%;
  
}

.marseille-hotels {
  gap: 20px;
  width: 100%;
  height: auto;
  padding: 30px 20px 0px 20px;
  border-radius: 0;
  font-size: 97%;
}

.hotel-cards {
  gap: 15px;
  width: 100%;
}
.hotel-cards a {
  width: 100%;
}
.hotel-cards__hotel-card {
  width: 100%;
  height: auto;
}

.hotel-cards__hotel-card img {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 20px 20px 0px 0px;
}

.hotel-cards__hotel-card__info {
  margin-left: 10px;
  font-size: 150%;
  gap: 5px;
  padding: 5px;
}
.marseille-hotels__bottom {
  margin-top: 10px;
  font-size: 120%;
}


/* ACTIVITES A MARSEILLE */

.marseille-activities {
  margin-top: 0;
  width: 100%;
  padding: 0 20px 40px 20px;
  border-radius: 0;
}
.marseille-activities__title {
  font-size: 137%;
  
}
.marseille-activities__cards {
  font-size: 147%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  height: auto;
  margin: auto;
}

.img-bg1 {
  background-image: url("/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  width: 100%;
  height: 150px;
  background-position: top 25% left 55%;
  background-size: cover;
}

.img-bg2 {
  background-image: url("/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: left 40%;
  
}

.img-bg3 {
  background-image: url("/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  /* background-size: 440px; */
  background-size: cover;
  background-position: top 25% left 20%;
  
}

.img-bg4 {
  background-image: url("/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  width: 100%;
  height: 150px;
  background-position: 53% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.img-bg5 {
  background-image: url("/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  width: 100%;
  height: 150px;
  background-position: 50% 10%;
  background-size: cover;
 
}

.img-bg6 {
  background-image: url("/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  width: 100%;
  height: 150px;
  background-position: top 20% left 70%;
  background-size: cover;

}

.flex-container-2,
.flex-container-4 {
  gap: 30px;
}

/* FOOTER */

footer {
  margin-top: 0;
  font-size: 150%;
}
.footer-title {
  font-size: 80%;
  margin-bottom: 10px;
}
.footer-container {
  display: flex;
  flex-flow: column;
  gap: 17%;
  width: 90%;
  margin: auto;
  padding: 10px 0 30px 0;
}
footer li {
  font-size: 70%;
}
footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;

  }

  #foot-bottom {
    margin-bottom: 10px;
  }