@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

body{
  height: 100%;
  max-width: 1440px;
  margin: auto;
  font-family: "Raleway", sans-serif;
  font-size: calc(2vmin + 5px);
  overflow-x: hidden;
  margin: auto;
}

.body-container {
  width: 90%;
  margin: auto;
}


/* *********** the top part of the site - logo & nav ************* */
/* flexbox to split the logo and the nav at the two borders */


.flex-banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}





.flex-banner__logo {
  width: 20%;
  padding-top: 30px;
}

.flex-banner__nav {
  width: 25%;

}
/* flexbox to change the behavior of the list and align horizontally the two list items */
.flex-banner__nav__list {
  display: flex;
  justify-content: space-around;
  /* gap: 25%; */
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 70%;
  list-style-type: none;
  color: black;
}
/* change the color of visited link to black instead of default violet  */
.flex-banner__nav__list :visited {
  color: black;
}
.flex-banner__nav__list li {
  height: 100%;
  width: 100%;
}

/* display block in order to transform the inline link into a box (for the hover) */
/* adding a transparent border-top to keep the same height when we apply hover */
.flex-banner__nav__list a {
  display: block;
  border-top: 5px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;

}
.flex-banner__nav__list a:hover {
  color: #0065FC;
  border-top: 5px solid #0065FC;
}





/* ************ SECTION TITRE ET SOUS TITRE************** */

.section1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 30px;
  margin-bottom: 40px;
}



.titles__main {
  font-size: 80%;
  font-weight: 900;
}
.titles__sub {
  font-size: 80%;
  font-weight: 500;
  margin-top: 10px;
}



/* ***************** Formulaire SEARCH **************** */


.search-pannel {
  display: flex;
  height: 55px;
  width: 43%;
  font-size: 70%;
  margin-top: 30px;
}

/* The three child-elements (1 input, 2 buttons) of the form */
.search-pannel :nth-child(1) {
  width: 13%;
  position: relative;
  border: none;
  border-radius: 20px 0 0 20px;
  text-align: center;
  background: #F2F2F2;
}
.search-pannel :nth-child(1) i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-pannel :nth-child(2) {
  width: 55%;
  text-indent: 5%;
  /* no border on left and right, borders grey on top and bottom */
  border: none;
  border-top: 1px solid rgb(219, 217, 217);
  border-bottom: 1px solid rgb(219, 217, 217);
}

/* change the default color of the placeholder into the input */
.search-pannel :nth-child(2)::placeholder {
  font-weight: 900;
  color: black;
}

.search-pannel :nth-child(3) {
  width: 32%;
  position: relative;
  color: white;
  background: #0065FC;
  border: none;
  border-radius: 0 20px 20px 0;
}




.search-pannel :nth-child(3) i {
  display: none;
}
.search-pannel :nth-child(3) span {
  background: none;
  font-weight: 900;
}



/******************* ANIMATION SEARCH PANNEL ************/
.search-pannel :hover {
  background: white;
  color: #0065FC;
  border: #979696 2px solid;
  
}
.search-pannel .anim :hover {
  border: 0px transparent solid;
  background: none;
}
.search-pannel button[type='submit'] :hover {
 border: none;
  
}


/* ************************************************************** */



/**************** FILTER PANNEL ***************/
.filter-pannel {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 3%;
  margin-top: 30px;
  font-size: 60%;
  font-weight: 900;

}

/* select every div direct child of the filter pannel (to exclude h4 title and other div children) */

.filter-pannel__category {
  display: flex;
  height: 50px;
  align-items: center;
  width: auto;
  border: 2px solid #f2f2f2;
  border-left: none;
  border-radius: 35px; 
}


.filter-pannel__category p {
  margin-right: 20px;
}

.filter-pannel__category__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065FC;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #deebff;
  margin-left: -5px;
  
}

/*********FILTER ANIMATIONS ********* */


.filter-pannel__category:hover {

  color: white;
  background-color: #0065FC;
 
}
.filter-pannel__category__logo:hover {
  animation: animateFilters 1s ease-in-out;
  animation-delay: 0.1s;
  color: black;
}
@keyframes animateFilters {
  0% {
    transform: scale(1);
    transform: rotate(15deg);
  }
  50% {
    transform: scale(1.1);
    transform: rotate(-15deg);

  }
  100% {
    transform: scale(1);
    transform: rotate(0deg);
  }
}




/***********************INFO BUBBLE *********************/
.info-bubble {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  height: auto;
  margin-top: 25px;
  font-size: 70%;

}

.info-bubble__logo {
  display: block;
  color: #0065FC;
  border: 2px solid #f2f2f2;
  border-radius: 100%;
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.info-bubble__logo {
  font-size: 75%;
}
/* ********* CONTAINER MID PAGE : HEBERGEMENT & MOST POP */
.mid-page {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  gap: 3%;
  margin: 20px 0 60px 0;
}

/* *******CARDS CONTAINER - HEBERGEMENTS A MARSEILLE******* */
.marseille-hotels {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: #F2F2F2;
  border-radius: 20px;
  padding: 35px;
  width: 70%;
  height: auto;
  
}
.hotel-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}


.hotel-cards__hotel-card {
background: white;
padding: 5px 5px 10px 5px;
border-radius: 20px;
box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.2);
margin-top: 15px;
}
.hotel-cards__hotel-card:hover {
  color: #0065FC;
}

.hotel-cards__hotel-card img {
  width: 225px;
  height: 120px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  }
.hotel-cards__hotel-card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-left: 10px;
  
  }

 .hotel-cards__hotel-card__info__title {
   font-size: 60%;
 }
 .hotel-cards__hotel-card__info__price {
    font-size: 55%;
 }
 .hotel-cards__hotel-card__info__stars {
    font-size: 40%;
    color: #c9c7c7;
 }
 .hotel-cards__hotel-card__info__stars .blue {
   color: #0065FC;
 }

.marseille-hotels__bottom {
  margin-top: 30px;
}

/* **************** ASIDE PART********************* */
aside {
  width: 34%;
  height: auto;
  background: #F2F2F2;
  border-radius: 20px;
  padding: 35px;
}
.most-populars {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  margin: auto;
  
}

.most-populars__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.most-populars__top i{
  font-size: 80%;
 
}

.most-populars__cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
 
}


.most-populars__cards__card {
  height: 100%;
  display: flex;
  background: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.2);;
}

.most-populars__cards__card img {
 
  width: 130px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}

.most-populars__cards__card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0px 10px 10px;
  width: 55%;
 
}
.most-populars__cards__card__description__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.most-populars__cards__card__description__text h3 {
  font-size: 60%;
}
.most-populars__cards__card__description__text p {
  font-size: 55%;
}

.most-populars__cards__card__description__stars {
  
  font-size: 40%;
  color: #c9c7c7;
}
.most-populars__cards__card__description__stars .blue {
  color: #0065FC;
}

/* *********** ACTIVITES A MARSEILLE ************** */

.marseille-activities {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 35px;
  border-radius: 20px;
  width: 100%;
  height: auto;

}

.marseille-activities__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;

}
.marseille-activities__cards h3 {
  text-indent: 20px;
  margin-bottom: 15px;
}


.marseille-activities__cards__card {
  border-radius: 20px;
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.marseille-activities__cards img {
  width: 300px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.marseille-activities__cards__card--1 img {
  height: 460px;
  
 
}
.marseille-activities__cards__card--2 img {
  height: 200px;
  
}
.marseille-activities__cards__card--3 img {
  height: 160px;
 
}

.img-bg {
  background-image: url("/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  width: 300px;
  height: 130px;
  background-size: 310px;
  border-radius: 20px 20px 0px 0px;
  
}
.marseille-activities__cards__card--4 img {
  height: 460px;
  
}
.marseille-activities__cards__card--5 img {
  height: 180px;
  
}
.marseille-activities__cards__card--6 img {
  height: 180px;
  
}


.flex-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.flex-container-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}


/* *********FOOTER******** */

footer {
 
  width: 100%;
  background: #F2F2F2;
  margin-top: 50px;
  
}

.footer-container {
  display: flex;
  gap: 16%;
  width: 90%;
  margin: auto;
  padding: 50px 0 50px 0;
  
  
}

.footer-title {
  font-weight: 900;
  font-size: 70%;
  margin-bottom: 20px;
}
footer ul {
list-style-type: none;
display: flex;
flex-direction: column;
gap: 15px;
}

footer li {
font-size: 60%;

}