@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: calc(2vmin + 5px);
  height: 100%;
  width: 90%;
  overflow: hidden;
  margin: auto;

}

/* the upper part of the site */
/* flexbox to split the logo and the nav at the two borders */
.flex-banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: red;  
}
.flex-banner__logo {
  width: 20%;
  background: brown;
  padding-top: 30px;
}
.flex-banner__nav {
  width: 20%;
  background: blue;
  
}
/* flexbox to change the behavior of the list and align horizontally the two list items */
.flex-banner__nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 80%;
  list-style-type: none;
  color: black;
  background: green;
}
/* change the color of visited link to black instead of default violet  */
.flex-banner__nav__list :visited {
  color: black;
}
.flex-banner__nav__list li {
  height: 100%;
  width: 100%;

}

/* display block in order to transform the inline link into a box (for the hover) */
/* adding a transparent border-top to keep the same height when we apply hover */
.flex-banner__nav__list a {
  display: block;
  border-top: 5px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  /* background: green; */

}
.flex-banner__nav__list a:hover {
  color: blue;
  border-top: 5px solid blue;
}

.titles__main {
  font-size: 110%;
}
.titles__sub {
  font-size: 90%;
  font-weight: 500;
}
form {
  height: 6vh;
  background: violet;
  width: 100%;
}
.search-pannel {
display:flex;
height: 100%;
width: 30%;
font-size: 80%;
background: yellow;
}

/* The three child-elements (1 input, 2 buttons) of the form */
.search-pannel :nth-child(1) {
width: 13%;
position: relative;
text-align: center;
}
.search-pannel :nth-child(1) i {
  /* position: absolute;
  color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}


.search-pannel :nth-child(2) {
width: 55%;
  text-indent: 5%;
}

/* change the default color of the placeholder into the input */
.search-pannel :nth-child(2)::placeholder {
font-weight: 900;
color: black;
}

.search-pannel :nth-child(3) {
  width: 32%;
  position: relative;
}

.search-pannel :nth-child(3) i {
display: none;
}

@media screen and (max-width: 992px) {
  .search-pannel :nth-child(3) span {
display: none;
  }
  .search-pannel :nth-child(3) i {
    display: inline;
    position: absolute;
     top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
  } 
}